.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: $Pale-Blue 1px solid;
  cursor: pointer;
}

.icon-circle:hover{
  background-color: $Pale-Blue;
}


