.main {
  width: 100%;
  padding: 5.2rem 0;
  align-items: center;
  text-align: center;

  &__logo {
    width: 60px;
  }

  &__intro {
    margin-top: 2.3rem;
    margin-bottom: 2rem;

    &--title{
      color: $Gray ;
      font-size: $Font-size;
      font-weight:$font-weight-slim;
    }
    &--bold{
      font-weight: $font-weight-bold;
      color:$Very-Dark-Blue ;
    }
    
    &--paragraph{
      margin-top: 1.5rem;
      font-size: 1rem;
      font-weight: $font-weight-slim;
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
     ::placeholder{
      color: $Pale-Blue;
      padding: 1rem 1rem;
  
    }

    &--input{
      border: 2px $Pale-Blue solid;
      width: 77%;
      height: 2.3rem;
      border-radius: 2rem;
      margin-bottom: .8rem;
    }

    &--error{
      // display: none;
      color: $Light-Red;
      font-size: .7rem;
      margin-bottom: 2rem;
      font-style: oblique;
     
    }

   
    
    &--button{
      background-color: $Blue ;
      color: white;
      padding: .6rem 6.5rem;
      border-radius: 2rem;
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba(21, 100, 190, 0.4);
    }
    &--button:hover{
      background-color: $Blue;
    }

  }
  &__image {
    padding: 0.4rem 2rem ;
    margin-bottom: 1.6rem;
  &--picture{
    width: 100%;
  }
    
  }
}


