.main {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 5.2rem;

  &__logo {
    width: 55px;
  }

  &__intro {
    margin-top: 2.3rem;
    margin-bottom: 2rem;

    &--title {
      color: $Gray;
      font-size: $Font-size;
      font-weight: 100;
      letter-spacing: 1px;
    }
    &--bold {
      font-weight: $font-weight-bold;
      color: $Very-Dark-Blue;
    }

    &--paragraph {
      margin-top: 1.5rem;
      font-size: 0.8rem;
      font-weight: $font-weight-slim;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    ::placeholder {
      color: $Pale-Blue;
      padding: 1rem 0;
    }

    &--error {
      display: none;
      color: $Light-Red;
      font-size: 0.65rem;
      font-size: 0.65rem;
      margin-bottom: 1.5rem;
    }

    &--success {
      display: none;
      color: green;
      font-weight: 600;
      font-size: 0.65rem;
      margin-bottom: 1.5rem;
    }

    &--input {
      border: 2px $Pale-Blue solid;
      width: 17rem;
      height: 2.5rem;
      border-radius: 2rem;
      margin-bottom: 0.5rem;
      padding: 1rem;
    }
    &--input.error {
      border: 2px solid $Light-Red;
    }

    &--button {
      background-color: $Blue;
      font-size: 0.9rem;
      color: white;
      padding: 0.6rem 6.5rem;
      border-radius: 2rem;
      cursor: pointer;
      box-shadow: 2px 2px 4px rgba(21, 100, 190, 0.4);
    }
    &--button:hover {
      background-color: $Blue;
    }
  }
  &__image {
    margin-top: -1.5rem;
    padding: 0 2rem;
    margin-bottom: 1.6rem;
    &--picture {
      width: 100%;
    }
  }
}
