@media (min-width: 769px) {
  .main {
    &__logo {
      width: 6rem;
    }
    &__intro {
      &--title {
        margin-top: 3rem;
        font-size: 3rem;
        font-weight: 100;
      }
      &--paragraph {
        font-size: 1.2rem;
        color: $Very-Dark-Blue;
        margin-bottom: 3rem;
      }
    }
    &__form {
      display: flex;
      flex-direction: row;
      align-items: normal;
      margin: auto;
      width: 40rem;
      gap: 0.5rem;
      margin-bottom: 4rem;

      &--div{
        width: 100%;
      }

      &--input {
        width: 100%;
        height: 3.6rem;
      }

      &--error{
        // display: none;
        color: $Light-Red;
        font-size: .8rem;
        text-align: left;
        margin-left: 2rem;
       
      }

      &--button {
        width: 15rem;
        height: 3.6rem;
        padding: 0.5rem 4rem;
      }
    }
    &__image {
      max-width: 44rem;
      margin: -2rem auto;
    }
  }
  .footer{
    width: 25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
